<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>경림상사</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">경림상사</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">재고목록</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-1 col-lg-10 main">
            <div class="row" style="padding-bottom: 20px;">
                <div class="col-xs-12 placeholder">
                    <a href="/create" type="button" class="btn btn-primary pull-right">작성</a>
                </div>
                <div class="col-xs-13">
                    <form action="/0" method="get" id="search">
                    <div class="col-lg-6">
                        <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for..." name="data">
                                <input type="hidden" value="{{data}}" id="get-data">
                                <span class="input-group-btn">
                                  <input value="검색" class="btn btn-info" type="submit" />
                                </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                    </form>
                </div><!-- /.row -->
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-condensed text-center">
                    <thead>
                    <tr>
                        <th class="text-center">번호</th>
                        <th class="text-center">사진</th>
                        <th class="text-center">모델명</th>
                        <th class="text-center">소재</th>
                        <th class="text-center">재고량</th>
                        <th class="text-center">비고</th>
                        <th class="text-center">시간</th>
                        <th class="text-center">보기</th>
                        <th class="text-center">수정/삭제</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each posts}}
                        <tr>
                            <td style="vertical-align: middle;">{{id}}</td>
                            <td style="vertical-align: middle;"><img src="img/main_img.jpg"
                                                                     class="img-responsive img-rounded center-block"
                                                                     width="100"></td>
                            <td style="vertical-align: middle;">{{item}}</td>
                            <td style="vertical-align: middle;">{{material}}</td>
                            <td style="vertical-align: middle;">{{stock}}</td>
                            <td style="vertical-align: middle;">{{content}}</td>
                            <td style="vertical-align: middle;">{{modifiedDate}}</td>
                            <td style="vertical-align: middle;">
                                <a href="/post/{{id}}" type="button" class="btn btn-success">보기</a>
                            </td>
                            <td style="vertical-align: middle;">
                                <button type="button" id="btn-update" class="btn btn-warning">수정</button>
                                <button type="button" id="btn-del" class="btn btn-danger" onclick="del({{id}})" >삭제</button>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
                <div class="col-xs-12 placeholder text-center">
                    <nav>
                        <input type="hidden" id="totalPages" value="{{posts.totalPages}}">
                        <ul class="pagination" id="pagination" >
                            <!-- for문으로 생성-->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!--custom js-->
<script src="js/main.js"></script>
<script src="js/delete.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="js/holder.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
